.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-container {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        padding: 2.5rem;
        border-radius: 1.2rem;
        background: #ecf0f3;
        box-shadow: 13px 13px 20px #cbced1,
                    -13px -13px 20px #fff;
    }
}