.datepicker {
    &-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }

    &-error-message {
        font-size: 0.75em;
        color: red;
        margin-top: 0.25rem;
    }

    &-label {
        font-size: 1rem;
        font-family: sans-serif;
        color: rgb(109, 109, 109);
    }
}

.react-datepicker__close-icon {
    padding-bottom: 1.65rem !important;
}

.error-display {
    border: 1px solid red;
}