.dropdown {
    &-container {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    &-label {
        font-size: 0.75rem;
        font-family: sans-serif;
        color: rgb(109, 109, 109);
    }
}

.error-display {
    border: 1px solid red;
}